body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7FAFF;
  color: #2E353F;

}
